<!DOCTYPE html>
<html lang="en">
{% extends 'compiler/design.html' %}
{% block userblock %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
.formin{
    width: 20%;
    height: 45%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 200px;
    right: 30em;
    margin: auto;
    padding:15px;
    background-color:;
}
.formin table{
margin-left:20px;
}
table{
height:100%;
}
input[type=submit]{
border:1px solid white;
background:none;
text-transform:uppercase;
color:;
}
input[type=submit]:hover{
background:white;
color:;
}
</style>
</head>
<body>
<div class="formin">
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table>
    <tr>
        <td><input type="file" name="testcur" accept="image/*" onchange="loadFile(event)"></td>
    </tr>
    <tr>
        <td style="height:50%"><img id="output" width="200px" height="200px"/></td>
    </tr>
    <tr>
        <td colspan="2" align="center" ><input type="submit" name="submit" value="submit" style="width:100px;height:30px;background:green;"></td>
    </tr>
</table>
</form>
<img src="{% static '11c.jpg' %}" style="padding:20px;width:400px;height:300px;position:absolute;top:0;left:29em;right:0;bottom:50em;">
</div>

<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
  };
</script>


</body>
</html>
{% endblock %}